{% extends 'base.html' %}

{% block content %}
    <form class="form" action="{% url 'edit_statistic' %}" method="post">

        {% csrf_token %}

        {{ statistic_from.non_field_errors }}
        <fieldset>

        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <td>
                    <label for="{{ statistic_form.stream.id_for_label }}">Stream :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.stream.errors}}</span>
                    {{ statistic_form.stream }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.provincial_stream.id_for_label }}">Provincial stream :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.provincial_stream.errors}}</span>
                    {{ statistic_form.provincial_stream }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.from_country.id_for_label }}">from_country :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.from_country.errors}}</span>
                    {{ statistic_form.from_country }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.interview_location.id_for_label }}">interview_location :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.interview_location.errors}}</span>
                    {{ statistic_form.interview_location }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.interview_date.id_for_label }}">interview_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.interview_date.errors}}</span>
                    {{ statistic_form.interview_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.invitation_to_apply_date.id_for_label }}">invitation_to_apply_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.invitation_to_apply_date.errors}}</span>
                    {{ statistic_form.invitation_to_apply_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.mpnp_file_date.id_for_label }}">mpnp_file_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.mpnp_file_date.errors}}</span>
                    {{ statistic_form.mpnp_file_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.mpnp_request_additional_docs_date.id_for_label }}">mpnp_request_additional_docs_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.mpnp_request_additional_docs_date.errors}}</span>
                    {{ statistic_form.mpnp_request_additional_docs_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.mpnp_nomination_date.id_for_label }}">mpnp_nomination_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.mpnp_nomination_date.errors}}</span>
                    {{ statistic_form.mpnp_nomination_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.cio_received_date.id_for_label }}">cio_received_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.cio_received_date.errors}}</span>
                    {{ statistic_form.cio_received_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.cio_processing_fee_date.id_for_label }}">cio_processing_fee_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.cio_processing_fee_date.errors}}</span>
                    {{ statistic_form.cio_processing_fee_date }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.cio_file_number.id_for_label }}">cio_file_number :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.cio_file_number.errors}}</span>
                    {{ statistic_form.cio_file_number }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.embassy.id_for_label }}">embassy :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.embassy.errors}}</span>
                    {{ statistic_form.embassy }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.ecas_recieved.id_for_label }}">ecas_recieved :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.ecas_recieved.errors}}</span>
                    {{ statistic_form.ecas_recieved }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.ecas_in_process.id_for_label }}">ecas_in_process :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.ecas_in_process.errors}}</span>
                    {{ statistic_form.ecas_in_process }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.ecas_medical_forms.id_for_label }}">ecas_medical_forms :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.ecas_medical_forms.errors}}</span>
                    {{ statistic_form.ecas_medical_forms }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.ecas_medical_exam_passed.id_for_label }}">ecas_medical_exam_passed :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.ecas_medical_exam_passed.errors}}</span>
                    {{ statistic_form.ecas_medical_exam_passed }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.ecas_medical_results_received.id_for_label }}">ecas_medical_results_received :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.ecas_medical_results_received.errors}}</span>
                    {{ statistic_form.ecas_medical_results_received }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ statistic_form.povl_date.id_for_label }}">povl_date :</label>
                </td>
                <td>
                    <span style="color: red;">{{statistic_form.povl_date.errors}}</span>
                    {{ statistic_form.povl_date }}
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-success" type="submit" name="submit" value="Update"></td>
                <td><a class="btn btn-warning" href="{% url 'statistic' user.id %}" type="button" name="submit">Cancel</a></td>
            </tr>
            </tbody>
        </table>
        </fieldset>
    </form>
    <script>
    $(function(){
        $('.date').datepicker({ dateFormat: 'mm/dd/yy' });
    });
</script>
{% endblock %}
