{% extends 'base.html' %}

{% block content %}
    <div class="row">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                            <h3 class="panel-title">Header</h3>
                    </div>
                    <div class="panel-body">
                            <div class="table-responsive table-scrollable">
                                    <table class="table table-condensed table-hover">
                                            <thead>
                                                <tr>
                                                    <th>User Name</th>
                                                    <th>Stream</th>
                                                    <th>from</th>
                                                    <th>Interview location</th>
                                                    <th>Interview date</th>
                                                    <th>Invitation to apply</th>
                                                    <th>MPNP file date</th>
                                                    <th>MPNP nomination date</th>
                                                    <th>CIO documents received date</th>
                                                    <th>CIO file number</th>
                                                    <th>Embassy</th>
                                                    <th>Embassy documents received</th>
                                                    <th>ECAS: in process </th>
                                                    <th>ECAS: medical forms</th>
                                                    <th>ECAS: medical exams passed</th>
                                                    <th>ECAS: medical results received</th>
                                                    <th>POVL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in userdata %}
                                                    <tr>
                                                        <td><a href="{% url 'statistic' user.id%}">{{user.username}}</a></td>
                                                        <td>{{user.stream|default_if_none:""}}</td>
                                                        <td>{{ user.from_country|default_if_none:"" }}</td>
                                                        <td>{{user.interview_location|default_if_none:""}}</td>
                                                        <td>{{user.interview_date|default_if_none:"" }}</td>
                                                        <td>{{user.invitation_to_apply_date|default_if_none:""}}</td>
                                                        <td>{{user.mpnp_file_date|default_if_none:""}}</td>
                                                        <td>{{user.mpnp_nomination_date|default_if_none:""}}</td>
                                                        <td>{{user.cio_received_date|default_if_none:""}}</td>
                                                        <td>{{user.cio_processing_fee_date|default_if_none:""}}</td>
                                                        <td>{{user.cio_file_number|default_if_none:""}}</td>
                                                        <td>{{user.embassy|default_if_none:""}}</td>
                                                        <td>{{user.ecas_recieved|default_if_none:""}}</td>
                                                        <td>{{user.ecas_in_process|default_if_none:""}}</td>
                                                        <td>{{user.ecas_medical_forms|default_if_none:""}}</td>
                                                        <td>{{user.ecas_medical_exam_passed|default_if_none:""}}</td>
                                                        <td>{{user.ecas_medical_results_received|default_if_none:""}}</td>
                                                        <td>{{user.povl_date|default_if_none:""}}</td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                    </table>
                        </div>
                    </div>
            </div>
    </div>
{% endblock %}
