{% extends 'base.html' %}

{% block content %}

    {% if federal_statistic %}
        <table class="table table-condensed table-hover">
            <tbody>
            <tr><td>Username :</td><td> {{ federal_statistic.user.username }}</td></tr>
            <tr><td>Inland :</td><td> {{ federal_statistic.inland }}</td></tr>
            <tr><td>Immigration program :</td><td> {{ federal_statistic.immigration_program |default_if_none:""}}</td></tr>
            <tr><td>Immigration subprogram :</td><td> {{ federal_statistic.immigration_sub_program |default_if_none:""}}</td></tr>
            <tr><td>Immigration stream :</td><td> {{ federal_statistic.immigration_stream |default_if_none:""}}</td></tr>
            <tr><td>CIO received date :</td><td> {{ federal_statistic.cio_received_date|default_if_none:"" }}</td></tr>
            <tr><td>CIO processing fee date :</td><td> {{ federal_statistic.cio_processing_fee_date|default_if_none:"" }}</td></tr>
            <tr><td>CIO file number :</td><td> {{ federal_statistic.cio_file_number|default_if_none:"" }}</td></tr>
            <tr><td>Embassy :</td><td> {{ federal_statistic.embassy|default_if_none:""}}</td></tr>
            <tr><td>ECAS recieved :</td><td> {{ federal_statistic.ecas_recieved|default_if_none:"" }}</td></tr>
            <tr><td>ECAS in process :</td><td> {{ federal_statistic.ecas_in_process|default_if_none:"" }}</td></tr>
            <tr><td>ECAS additional documents request  :</td><td> {{ federal_statistic.ecas_additional_documents_request1|default_if_none:""}}</td></tr>
            <tr><td>ECAS medical forms :</td><td> {{ federal_statistic.ecas_medical_forms|default_if_none:"" }}</td></tr>
            <tr><td>ECAS medical exam passed :</td><td> {{ federal_statistic.ecas_medical_exam_passed|default_if_none:"" }}</td></tr>
            <tr><td>ECAS medical results received :</td><td> {{ federal_statistic.ecas_medical_results_received|default_if_none:"" }}</td></tr>
            <tr><td>ECAS additional documents request2 :</td><td> {{ federal_statistic.ecas_additional_documents_request2|default_if_none:"" }}</td></tr>
            <tr><td>POVL date :</td><td> {{ federal_statistic.povl_date|default_if_none:""}}</td></tr>
            {% if user.id == federal_statistic.user_id %}
            <tr><td><a class="btn btn-warning" href="{% url 'edit_federal_statistic' %}" type="button" name="submit">Edit federal_statistic</a></td><td></td></tr>
            {% endif %}

            </tbody>
        </table>
    {% else %}
        <h3>Your federal statistic is empty. To fill it click <a href="{% url 'edit_federal_statistic' %}">here.</a></h3>
    {% endif %}
    {% if provincial_statistic %}
        <table class="table table-condensed table-hover">
            <tbody>
            <tr><td>Province :</td><td> {{ provincial_statistic.province }}</td></tr>
            <tr><td>Immigration stream :</td><td> {{ provincial_statistic.immigration_stream |default_if_none:""}}</td></tr>
            <tr><td>Interview location :</td><td> {{ provincial_statistic.interview_location |default_if_none:""}}</td></tr>
            <tr><td>Interview date :</td><td> {{ provincial_statistic.interview_date |default_if_none:""}}</td></tr>
            <tr><td>Invitation to apply date :</td><td> {{ provincial_statistic.invitation_to_apply_date|default_if_none:"" }}</td></tr>
            <tr><td>Prov file date :</td><td> {{ provincial_statistic.prov_file_date|default_if_none:"" }}</td></tr>
            <tr><td>Prov request additional docs date :</td><td> {{ provincial_statistic.prov_request_additional_docs_date|default_if_none:"" }}</td></tr>
            <tr><td>Prov nomination date :</td><td> {{ provincial_statistic.prov_nomination_date|default_if_none:""}}</td></tr>
            {% if user.id == provincial_statistic.user_id %}
            <tr><td><a class="btn btn-warning" href="{% url 'edit_provincial_statistic' %}" type="button" name="submit">Edit provincial statistic</a></td><td></td></tr>
            {% endif %}

            </tbody>
        </table>

    {% else %}
        <h3>Your provincial statistic is empty. To fill it click <a href="{% url 'edit_provincial_statistic' %}">here.</a></h3>
    {% endif %}


    
{% endblock %}
